<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <parameter name="URL" value="QAClickAcademy"></parameter>
    <groups ></groups>
    <test verbose="2" preserve-order="true" name="Personal Loan">
        <classes>
            <class name="TestNG.Day01"/>
            <class name="TestNG.Day02"/>
            <class name="TestNG.Day04"/>
        </classes>
    </test>
    <test name="Car Loan">
        <classes>
            <class name="TestNG.Day03">

<!--                <methods>-->
<!--&lt;!&ndash;                    Run every method instead of the ones in exclude tag&ndash;&gt;-->
<!--&lt;!&ndash;                    <include name="monbile.*"/>&ndash;&gt;-->

<!--                </methods>-->
            </class>
        </classes>
    </test>
</suite>




