<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="tests" thread-count="6">
    <listeners>
        <listener class-name="TestNG.Listeners"/>
    </listeners>

    <parameter name="URL" value="QAClickAcademy"/>
    <parameter name="APIKey/username" value="personalLoan.com"/>

    <test verbose="2" preserve-order="true" name="Personal Loan" >
        <classes>
            <class name="TestNG.Day01"/>
            <class name="TestNG.Day02"/>
            <class name="TestNG.Day04"/>
        </classes>
    </test>
    <test name="Car Loan" >
<!--        OverWrite URL under Suite folder-->
        <parameter name="URL" value="CarLoan.com"/>
        <parameter name="APIKey/username" value="123456"/>

        <classes>
            <class name="TestNG.Day03">

<!--                <methods>-->
<!--&lt;!&ndash;                    Run every method instead of the ones in exclude tag&ndash;&gt;-->
<!--&lt;!&ndash;                    <include name="monbile.*"/>&ndash;&gt;-->

<!--                </methods>-->
            </class>
        </classes>
    </test>
</suite>




